.login {
  background-color: #242424; /* Slightly brighter background for contrast */
  min-height: 100vh;
  .header {
    position: relative; /* Changed from absolute to give it space */
    color: #e54b4b; /* Softened the red color */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    h1 {
      font-size: 2.5rem; /* Increased font-size for heading */
      margin-right: 1rem; /* Added margin to separate from button */
    }

    button {
      background-color: transparent;
      border: 1px solid #e54b4b; /* Border to the button */
      border-radius: 5px;
      color: #e54b4b;
      font-size: 1.5rem;
      font-weight: 500; /* Reduced the font weight a bit */
      cursor: pointer;
      z-index: 999;
      padding: 0.5rem 1rem; /* Padding to make button larger */
      transition: background-color 0.3s, color 0.3s; /* Transition effect */

      &:hover {
        background-color: #e54b4b; /* Change color on hover */
        color: #242424;
      }
    }
  }

  .imageContainer {
    position: relative; /* Changed from absolute for better structure */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    z-index: 1;

    .image {
      width: 90%;
      height: 95%;
      border-radius: 15px;
      object-fit: cover;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Added a shadow to the image */
      transition: transform 0.3s; /* Smooth zoom on hover */
    }
  }
}
