.loadingContainer {
    position: fixed; // to ensure the loading spinner fills the viewport
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); // a darker background with some transparency
    display: flex;
    align-items: center; // to center the spinner vertically
    justify-content: center; // to center the spinner horizontally
  
    svg {
      width: 100px; // adjust based on the desired size of the spinner
      height: 100px;
      color: #ffffff; // spinner color, adjust if needed
    }
  }
  