@import '../../../mixins/for-device.scss';

.formContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  .form {
    position: absolute;
    z-index: 999;
    display: flex;
    bottom: 100px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;

    .fieldContainer {
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;
      margin-bottom: 15px;

      .input {
        border: 1px solid #e54b4b;
        height: 50px;
        width: 30vw;
        border-radius: 10px;
        background-color: #3c3751;
        color: #e54b4b;
        padding-left: 15px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        box-shadow: 5px 7px 6px #9331315f;
        font-size: 1rem;

        &::placeholder {
          color: #e54b4b;
          opacity: 0.9;
          font-weight: 400;
        }
        &:hover {
          box-shadow: 9px 10px 18px #e54b4ba8;
        }

        @include for-device(mobile) {
          width: 70vw;
          height: 45px;
        }

        &:focus {
          outline: none;
          box-shadow: 7px 7px 12px rgba(89, 88, 88, 0.4);
        }
      }
    }

    .buttonContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #3c3751;
      }

      .submitButton {
        position: absolute;
        top: 85.5%;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        color: #3B3751;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        background-color: #e54b4b;
        z-index: 998;
        padding: 0.5rem 1rem;
        transition: all 0.3s, color 0.3s;
        backdrop-filter: blur(15px);
        box-shadow: 9px 7px 9px rgba(89, 88, 88, 0.55);

        &:hover {
          background-color: #3B3751;
          color: #e54b4b;
          // box-shadow: 13px 14px 9px #3c3751b5;
        }

        @include for-device(mobile) {
          width: 50vw;
          top: 90%;
        }
      }
    }
  }
}
