@import "../../../mixins/for-device.scss";

.formContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  .form {
    position: absolute;
    z-index: 999;
    display: flex;
    bottom: 100px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;

    .fieldContainer {
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;
      margin-bottom: 15px;

      .input {
        border: 1px solid #e54b4b;
        height: 50px;
        width: 30vw;
        border-radius: 10px;
        background-color: #3c3751;
        color: #e54b4b;
        padding-left: 15px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        box-shadow: 5px 7px 6px #9331315f;
        font-size: 1rem;

        &::placeholder {
          color: #e54b4b;
          opacity: 0.9;
          font-weight: 400;
        }
        &:hover {
          box-shadow: 9px 10px 18px #e54b4ba8;
        }

        @include for-device(mobile) {
          width: 70vw;
          height: 45px;
        }

        &:focus {
          outline: none;
          box-shadow: 7px 7px 12px rgba(89, 88, 88, 0.4);
        }
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      transition: background-color 0.3s ease-in-out;
      height: 8vh;

      .customButtonContainer {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;

        button,
        input {
          height: 4.5vh;
          width: auto;
          padding: 0 1rem;
          font-size: 1.4rem;
        }
      }

      button,
      input {
        border: none;
        border-radius: 5px;
        color: #3b3751;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        z-index: 998;
        transition: all 0.3s, color 0.3s;
        backdrop-filter: blur(15px);
        box-shadow: 9px 7px 9px rgba(89, 88, 88, 0.55);
        width: 20vh;
        background-color: #e54b4b;

        &:hover {
          background-color: #3b3751;
          color: #e54b4b;
        }

        &:last-child {
          background-color: #3b375100;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: #0000009b;
          }
        }

        @include for-device(mobile) {
          width: 25vw;
          top: 90%;
        }
      }
    }
    .alternativeButtonsContainer {
      // these will be small icons like google, github, etc. to login with
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 30vw;
      height: 5vh;
      border-radius: 100%;
      transition: all 0.3s ease-in-out;
      padding: 0 5px;

      button {
        background-color: transparent;
        border: none;
        transition: all 0.2s ease-in-out;

        &:hover svg {
          transform: scale(1.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        }
        
        svg {
          border-radius: 50%;
          transition: all 0.2s ease-in-out;

        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
