@import '../../mixins/for-device.scss';

$bg-color: #242424;
$primary-color: #e54b4b;
$button-padding: 0.2rem 0.6rem;
$button-transition: background 0.3s, color 0.3s;
$button-border: 1px solid $primary-color;

@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value}, #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(3000);
$shadows-medium: multiple-box-shadow(300);
$shadows-big: multiple-box-shadow(100);

@keyframes animStar {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-800px);
  }
}


.outerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background: radial-gradient(ellipse at bottom, #243547 0%, $bg-color 100%);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 30s linear infinite;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 70s linear infinite;
    z-index: 2;
  }
  .serverGridContainer {
    height: 80vh;
    width: 95%;
    overflow-y: scroll;
    border-radius: 10px;
    &::-webkit-scrollbar {
      display: none;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2%;
      // border: $button-border;
      border-radius: 5px;

      @include for-device('mobile') {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      .gridItem {
        position: relative;
        height: 39vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        transition: $button-transition;
        background-color: $primary-color;
        color: $bg-color;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        overflow: hidden;
        z-index: 999;

        &:hover {
          background-color: $bg-color;
          color: $primary-color;
          border: none;
          z-index: 1;
          &::before {
            animation: animStar 20s linear infinite;
          }
        }
      }

      .gridItemTitle {
        height: 39vh;
        grid-column: 2 / 4;
        grid-row: 1;
        color: $bg-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: $primary-color;
        background-color: $bg-color;
        font-size: 1.3rem;

        @include for-device('mobile') {
          grid-column: 1 / 3;
        }
      }
    }
  }
}
