@import '../../../variables';

.inputField {
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: $input-bg-color;
  color: white;
  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}
