$bg-color: #242424;
$primary-color: #e54b4b;
$input-bg-color: #3a3a3a;
$button-hover: #f56565;
$header-height: 60px;

.inputField {
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: $input-bg-color;
  color: white;
  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}
