.wallpaper {
  background-color: #0b050f;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login-container {
  background-color: #271236;
  width: 65%;
  height: 250px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
}